@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");


.animate-top,
.animate-bottom,
.animate-left,
.animate-right,
.animate-fade,
.animate-zoom,
.column-icon,
.column-half-image-left,
.column-half-image-right,
.heading-strip h4,
.heading-strip h3,
.heading-strip i,
.heading-strip p,
.heading-line-1,
.heading-line-2,
.heading-block h4,
.heading-block p,
.heading-text i,
.center-socials a,
.footer-socials,
.footer-logo,
.footer p,
.heading-block .button {
    visibility: hidden;
    transition: inherit;
}

.page-fade {
    opacity: 0;
    transition: all 500ms ease;
    transition-delay: 100ms;
}

.page-show {
    opacity: 1;
    transition: all 500ms ease;
}

#page-content {
    z-index: 5;
    transition: all 500ms ease;
}

@media (min-width: 762px) {
    #page-transitions {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*Swiper*/

.home-fader .swiper-wrapper {
    height: auto !important;
}

#page-content-scroll {
    transition: all 500ms ease;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}


/*------*/


/*Header*/


/*------*/


/*Header Colors*/

.header-light {
    border-top: solid 1px rgba(0, 0, 0, 0.03);
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
}

.header-light i {
    color: #1f1f1f;
}

.header-light .header-icon {
    border-color: rgba(0, 0, 0, 0.08) !important;
}

.header-light em {
    background-color: #1f1f1f;
}

.header-dark {
    border-top: solid 1px rgba(0, 0, 0, 0.03);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
    background-color: #222222;
}

.header-dark i {
    color: #ffffff;
}

.header-dark .header-icon {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.header-dark em {
    background-color: #ffffff;
}


/*Header Settings*/

.header {
    z-index: 99;
    position: fixed;
    top: 0px !important;
    left: 0px;
    right: 0px;
    height: 70px;
    line-height: 55px;
    transition: all 500ms ease !important;
}

.header i {
    font-size: 16px;
    display: block;
    text-align: center;
}


/*Header Placements*/

.header-icon {
    top: 0px;
    width: 15%;
    height: 95%;
    z-index: 99;
    position: absolute;
}

.header-logo-center .header-icon-1 {
    left: 0px;
    /*border-right: solid 1px;*/
    background-image: url(/assets/images/top_menu_left.png);
    background-size: auto 78%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

.header-logo-center .header-icon-1-1 {
    left: 0px;
    /*border-right: solid 1px;*/
    background-image: url(/assets/images/top_menu_left_dark.png);
    background-size: auto 78%;
    background-repeat: no-repeat;
    background-position: 50% 65%;}

.header-logo-center .header-icon-3 {
    right: 50px;
}

.header-logo-center .header-icon-4 {
    right: 0px;
    /*border-left: solid 1px;*/
    background-image: url(/assets/images/top_menu_right.png);
    background-size: auto 78%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

.header-logo-center .header-icon-4-1 {
    right: 0px;
    /*border-left: solid 1px;*/
    background-image: url(/assets/images/top_menu_right_dark.png);
    background-size: auto 78%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

.header-logo-center .header-logo {
    margin: 0 auto;
}

.header-logo-left .header-icon-1 {
    right: 150px;
    border-left: solid 1px;
}

.header-logo-left .header-icon-2 {
    right: 100px;
    border-left: solid 1px;
}

.header-logo-left .header-icon-3 {
    right: 50px;
    border-left: solid 1px;
}

.header-logo-left .header-icon-4 {
    right: 0px;
    border-left: solid 1px;
}

.header-logo-left .header-logo {
    margin-left: 20px;
}

.header-logo-right .header-icon-1 {
    left: 0px;
    border-right: solid 1px;
}

.header-logo-right .header-icon-2 {
    left: 50px;
    border-right: solid 1px;
}

.header-logo-right .header-icon-3 {
    left: 100px;
    border-right: solid 1px;
}

.header-logo-right .header-icon-4 {
    left: 150px;
    border-right: solid 1px;
}

.header-logo-right .header-logo {
    position: absolute;
    right: 20px;
}


/*Header Logo*/

.header-dark .header-logo {
    background-image: url(/assets/images/logo-light.png);
}

.header-light .header-logo {
    background-image: url(/assets/images/logo-dark.png);
}

.header-logo {
    background-repeat: no-repeat;
    background-position: 70% center;
    background-size: auto 70%;
    width: 50%;
    height: 80%;
    z-index: 999;
    top: 10%;
    font-size: 1.5em;
    color: #fff;
    font-weight: 800;
}

.ilkium-text-black {
    background-image: url(/assets/images/logo-dark.png);
    width: 70px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -40px -7px;
    background-size: 120px 30px;
    top: 5px;
    position: relative;
}

.ilkium-text-light {
    background-image: url(/assets/images/logo-light.png);
    width: 70px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -35px -5px;
    background-size: 115px 29px;
    top: 5px;
    position: relative;
}

.ilkium-logo-icon {
    background-image: url(/assets/images/ilkium_logo_icon.png);
    width: 70px;
    height: 42px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 56px
}

.ilkium_test_list {
    padding: 15px 0px 10px 25px;
    border-top: double 4px #ccc;
    border-bottom: double 4px #ccc;
    color: #000;
}


/*Animated Icons*/

.menu-icon-light em {
    background-color: #ffffff !important;
}

.hamburger-animated .hm1,
.hamburger-animated .hm2,
.hamburger-animated .hm3 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 14px;
    z-index: 99999;
    transition: all 500ms ease;
}

.hm1 {
    margin-top: 2px;
    margin-left: -7px;
}

.hm2 {
    margin-top: -2px;
    margin-left: -7px;
}

.hm3 {
    margin-top: -6px;
    margin-left: -7px;
}

.hm1a,
.hm2a,
.hm3a {
    background-color: #e74c3c !important;
    transition: all 500ms ease;
}

.hm1a {
    -webkit-transform: rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
}

.hm2a {
    opacity: 0;
}

.hm3a {
    -webkit-transform: rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}


/*Dropdown Animated*/

.demo-icon a {
    width: 30%;
    height: 60px;
    margin-right: 3.3%;
    margin-bottom: 10px;
    float: left;
}

.demo-icon em {
    color: #000000;
    background-color: #000000;
}

.dropdown-animated .dm1,
.dropdown-animated .dm2 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    transition: all 500ms ease;
}

.dm1 {
    margin-left: -5px;
    transform: rotate(40deg);
}

.dm2 {
    margin-left: 0px;
    transform: rotate(-40deg);
}

.dm1a {
    transform: rotate(-40deg) !important;
    background-color: #e74c3c !important;
}

.dm2a {
    transform: rotate(40deg) !important;
    background-color: #e74c3c !important;
}


/*Plus Hide Animated*/

.ph1 {
    height: 11px;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -6px;
    transition: all 500ms ease;
}

.ph1a {
    transform: rotate(45deg);
    background-color: #e74c3c !important;
    transition: all 500ms ease;
}

.ph2 {
    height: 1px;
    width: 11px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    transition: all 500ms ease;
}

.ph2a {
    transform: rotate(45deg);
    background-color: #e74c3c !important;
    transition: all 500ms ease;
}


/*Active Menu Items*/

.active-item span {
    border-bottom: none !important;
    font-weight: 600 !important;
    transition: all 500ms ease;
}

.menu-light .active-item span,
.sidebars-light .active-item span {
    color: #f1cfa3 !important;
    font-weight: 600 !important;
    /*text-shadow:0px 0px 1px #000000;*/
}

.menu-dark .active-item span,
.sidebars-dark .active-item span {
    color: #ffffff !important;
    font-weight: 600 !important;
    /*text-shadow:0px 0px 1px #FFFFFF;*/
}

.submenu .active-item span {
    text-shadow: none !important;
    font-weight: 600 !important;
}

.active-item i:last-child {
    font-size: 6px !important;
    color: #27ae60 !important;
}

.menu-item span {
    transition: all 500ms ease;
}


/*------------*/


/*Sidebar Menu*/


/*------------*/


/*Sidebar Colors*/

.sidebars-light .sidebar {
    background-color: #333333;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
}

.sidebars-dark .sidebar {
    background-color: #1e1e1e !important;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
}

.sidebars-light .sidebar-left-active,
.sidebars-light .sidebar-right-active,
.sidebars-light .sidebar-large-left-body-active,
.sidebars-light .sidebar-large-right-body-active,
.sidebars-light .sidebar-small-left-body-active,
.sidebars-light .sidebar-small-right-body-active {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.sidebars-light .sidebar-small {
    background-color: #ffffff;
}


/*Sidebar Settings*/

.sidebar {
    position: fixed;
    z-index: 99999;
    top: 0px;
    bottom: 0px;
    transition: all 500ms ease;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.sidebar-visible {
    display: block !important;
}

.sidebar-left {
    left: 0px;
}

.sidebar-right {
    right: 0px;
}

.sidebar-left,
.sidebar-right {
    width: 260px;
}

#sidebar-tap-close {
    position: fixed;
    width: 200%;
    margin-left: -50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
}

.allow-tap {
    pointer-events: all !important;
}

.sidebar-left {
    transform: translateX(-260px);
}

.sidebar-right {
    transform: translateX(260px);
    background-color: #fff !important;
}

.sidebar-right .default-link span {
    color: #000 !important;
}

.header-active-left-over {
    transform: translateX(70px);
}

.header-active-right-over {
    transform: translateX(-70px);
}

.header-active-left-push-large {
    transform: translateX(260px);
}

.header-active-right-push-large {
    transform: translateX(-260px);
}

.header-active-left-push-small {
    transform: translateX(80px);
}

.header-active-right-push-small {
    transform: translateX(-80px);
}

.sidebar-left-active {
    transform: translateX(0px) !important;
}

.sidebar-right-active {
    transform: translateX(0px) !important;
}

.sidebar-large-left-body-active {
    transform: translateX(260px) !important;
}

.sidebar-large-right-body-active {
    transform: translateX(-260px) !important;
}

.footer-fixed-light {
    background-color: #ffffff;
}

.menu-light.sidebar-menu {
    background-color: #ffffff;
}

.menu-light.header-menu {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 30px rgba(0, 0, 0, 0.02);
}

.menu-light.footer-menu {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 30px rgba(0, 0, 0, 0.2);
}

.menu-light.modal-menu {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.15);
}

.footer-fixed-dark {
    background-color: #1c1c1c;
}

.menu-dark.sidebar-menu {
    background-color: #1c1c1c;
}

.menu-dark.header-menu {
    background-color: #1c1c1c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 30px rgba(0, 0, 0, 0.02);
}

.menu-dark.footer-menu {
    background-color: #1c1c1c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 30px rgba(0, 0, 0, 0.2);
}

.menu-dark.modal-menu {
    background-color: #1c1c1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.15);
}

.icon-branch-phone {
    background-image: url(/assets/images/main/icon_branch_phone.png);
    background-size: 100%;
}

.menu-wrapper {
    position: fixed;
    z-index: 6;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.header-menu {
    z-index: 9999;
    opacity: 0;
    top: 55px;
    left: 0px;
    right: 0px;
    height: 385px;
    transform: translateY(-460px);
    transition: all 500ms ease;
}

.active-header-menu {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease;
}

.footer-menu {
    z-index: 999999;
    opacity: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 390px;
    transform: translateY(410px);
    transition: all 500ms ease;
}

.active-footer-menu {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease;
}

.modal-menu {
    left: 30px;
    right: 30px;
    max-height: 440px;
    top: 50%;
    margin-top: -230px;
    transform: scale(0, 0);
    pointer-events: none;
    transition: all 300ms ease;
    z-index: 100;
}

.modal-menu-overlay,
.header-menu-overlay,
.footer-menu-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.page-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    transition: all 250ms ease;
}

.header-menu-overlay,
.footer-menu-overlay {
    background-color: rgba(0, 0, 0, 0) !important;
}

.active-overlay {
    pointer-events: all !important;
    opacity: 1 !important;
    transition: all 250ms ease;
}

.active-modal-menu {
    transform: scale(1, 1);
    pointer-events: all;
    transition: all 300ms ease;
}

.active-modal-header {
    transform: translateY(-80px);
    transition: all 300ms ease;
}


/*Menu Settings*/

.submenu {
    transition: all 500ms ease;
}

.sub-numbers {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #ba3729;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    top: 12px;
    right: 12px;
    font-weight: 400;
}

.menu-options a {
    line-height: 56px;
    height: 56px !important;
    overflow: hidden;
    transition: all 500ms ease;
}

[data-sub] i:first-child {
    line-height: 36px !important;
}

.menu-options i:first-child {
    width: 55px;
    height: 55px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-left: 7px;
}

.menu-options span {
    font-size: 1.1em;
    /*font-family: sans-serif;*/
    font-weight: 500;
    padding-left: 20px;
    color: #1f1f1f;
    height: 56px;
    overflow: hidden !important;
    padding-top: 30px;
    line-height: 20px;
    transition: all 500ms ease;
}

.menu-options span b {
    font-size: 13px;
}

.menu-options i:last-child {
    height: 55px;
    width: 50px;
    position: absolute;
    right: 3px;
    font-size: 4px;
    text-align: center;
}

.icon-background .icon-bg {
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
    border-radius: 35px;
    top: 10px;
    left: 10px;
    font-size: 15px !important;
}

.icon-background span {
    padding-left: 75px;
}

.no-icon-background .icon-bg {
    border: none !important;
}

.no-icon-background i:first-child {
    line-height: 56px !important;
}

.submenu {
    height: 0px;
    overflow: hidden;
}

.submenu i:first-child {
    font-size: 12px;
    line-height: 56px;
}

.submenu span {
    font-size: 12px;
    font-weight: 400;
}

.menu-options strong {
    pointer-events: none;
    right: 0px !important;
    top: 1px;
    width: 55px;
    position: absolute;
    height: 55px;
    transform: scale(0.7, 0.7);
}

.sidebars-light .sidebar-header-classic .sidebar-socials a {
    color: #000000 !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.sidebars-light .sidebar-header-classic .sidebar-socials a i {
    color: #000000 !important;
}

.sidebars-light .sidebar-header-classic .sidebar-logo {
    background-image: url(/assets/images/logo-dark.png);
}

.sidebars-light .sidebar-header-classic strong {
    color: #000000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.sidebars-light a,
.menu-light a {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.sidebars-light i:first-child,
.menu-light i:first-child {
    color: #1f1f1f;
}

.sidebars-light span,
.menu-light span {
    color: #ffffff;
}

.sidebars-light .sidebar-socials a i {
    color: #ffffff !important;
}

.sidebars-light i:last-child,
.menu-light i:last-child {
    color: #ffffff;
    display: none;
}

.sidebars-light .icon-background .icon-bg,
.menu-light.icon-background .icon-bg {
    color: #ffffff !important;
}

.sidebars-light .no-icon-background .icon-bg,
.menu-light.no-icon-background .icon-bg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidebars-light .submenu i:first-child,
.menu-light .submenu i:first-child {
    color: #000000;
}

.sidebars-light .submenu span,
.menu-light .submenu span {
    color: #717171;
}

.sidebars-light strong,
.menu-light strong {
    color: #777777;
}

.sidebars-light strong em,
.menu-light strong em {
    background-color: #1f1f1f;
}

.sidebars-light .submenu a:last-child,
.menu-light .submenu a:last-child {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.sidebars-light .menu-divider,
.menu-light .menu-divider {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    color: rgba(182, 182, 182, 0.8);
}

.sidebars-light input {
    color: #000000 !important;
    border-color: rgba(0, 0, 0, 0.08) !important;
}

.sidebars-dark .sidebar-header-classic {
    background-color: #1e1e1e !important;
}

.sidebars-dark .sidebar-header-classic .sidebar-socials a {
    color: #ffffff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.sidebars-dark .sidebar-header-classic .sidebar-socials a i {
    color: #ffffff !important;
}

.sidebars-dark .sidebar-header-classic .sidebar-logo {
    background-image: url(/assets/images/logo-light.png);
}

.sidebars-dark .sidebar-header-classic strong {
    color: #ffffff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.sidebars-dark a,
.menu-dark a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.sidebars-dark i:first-child,
.menu-dark i:first-child {
    color: #ffffff;
}

.sidebars-dark span,
.menu-dark span {
    color: #ffffff;
}

.sidebars-dark i:last-child,
.menu-dark i:last-child {
    color: #bcbcbc;
}

.sidebars-dark .icon-background .icon-bg,
.menu-dark.icon-background .icon-bg {
    color: #ffffff !important;
}

.sidebars-dark .no-icon-background .icon-bg,
.menu-dark.no-icon-background .icon-bg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidebars-dark .submenu i:first-child,
.menu-dark .submenu i:first-child {
    color: #afafaf;
}

.sidebars-dark .submenu span,
.menu-dark .submenu span {
    color: #717171;
}

.sidebars-dark strong,
.menu-dark strong {
    color: #969696;
}

.sidebars-dark strong em,
.menu-dark strong em {
    background-color: #ffffff;
}

.sidebars-dark .submenu a:last-child,
.menu-dark .submenu a:last-child {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.sidebars-dark .menu-divider,
.menu-dark .menu-divider {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
}

.sidebars-dark input {
    color: #ffffff !important;
    border-color: rgba(255, 255, 255, 0.08) !important;
}

.submenu a {
    border: none;
    margin-top: -1px;
}

.sidebar-right .menu-divider {
    font-size: 16px !important;
}

.menu-divider {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 20px;
    font-style: normal;
    font-weight: 800;
}




/*Sidebar Header Color*/

.sidebar-header-classic .sidebar-socials a {
    width: 52px;
    float: left;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
}

.sidebar-header-classic .sidebar-logo {
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 130px 33px;
    padding-top: 22px;
    width: 100%;
    z-index: 999;
}

.sidebar-header-classic .sidebar-logo strong {
    display: block;
    padding-left: 152px;
    /*font-family: "Poppins", sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.sidebar-header-image .sidebar-socials {
    z-index: 999;
    padding-bottom: 50px;
}

.sidebar-header-image .sidebar-socials a {
    width: 52px;
    height: 55px;
    float: left;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    color: #ffffff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.sidebar-header-image .sidebar-logo {
    z-index: 99;
    background-image: url(/assets/images/logo-light.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 130px 33px;
    padding-top: 33px;
    width: 100%;
    z-index: 999;
}

.sidebar-header-image .sidebar-logo strong {
    display: block;
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #bfbfbf;
    padding-bottom: 10px;
}

.body-left-effect {
    transform: translateX(70px);
    transition: all 300ms ease;
}

.body-right-effect {
    transform: translateX(-70px);
    transition: all 300ms ease;
}

.header-pushdown span {
    display: block;
    text-align: center;
    padding-left: 0px;
}

.header-pushdown a {
    border: none;
}

.header-pushdown {
    height: 0px;
    transition: all 500ms ease;
}

.header-push-active {
    height: 400px;
    transition: all 500ms ease;
}

.header-push-down {
    transform: translateY(400px);
}

.bottom-icon-right {
    position: fixed;
    bottom: 20px;
    height: 45px;
    width: 46px;
    z-index: 999;
    right: 20px;
    background-color: #2980b9;
    border-radius: 60px;
    z-index: 9;
}

.bottom-icon-left {
    position: fixed;
    bottom: 20px;
    height: 45px;
    width: 46px;
    z-index: 999;
    left: 20px;
    background-color: #2980b9;
    border-radius: 60px;
    z-index: 9;
}

.bottom-icon-right em,
.bottom-icon-left em {
    background-color: #ffffff !important;
}


/*Menu Search*/

.menu-search input {
    height: 50px;
    background-color: transparent;
    color: #000000;
    padding-left: 50px;
    width: 100%;
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    font-family: "Poppins", sans-serif;
}

.menu-search i {
    position: absolute;
    margin-left: 20px !important;
    height: 50px !important;
    line-height: 50px !important;
}

.search-button {
    z-index: 99999;
    border: none !important;
    width: 100px !important;
    padding-left: 0px !important;
    position: absolute;
    top: 0px;
    right: 0px;
}


/*Footer*/

.footer-dark {
    background-color: #555555;
}

.footer-dark .copyright-text {
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    color: #656465;
}

.footer-dark .footer-socials a {
    color: #ffffff;
}

.footer-dark .footer-text {
    color: #9a9a9a !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    font-size: 12px;
}

.footer-dark .footer-logo {
    background-image: url(/assets/images/logo-light.png);
}

.footer-light {
    padding-top: 0px !important;
}

.footer-light .copyright-text {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    color: #656465;
}

.footer-light .footer-socials a {
    color: #000000;
}

.footer-light .footer-text {
    color: #666666 !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.footer-light .footer-logo {
    background-image: url(/assets/images/logo-dark.png);
}

.footer-logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 180px 47px;
    width: 180px;
    height: 47px;
    z-index: 999;
    margin: 0 auto;
}

.footer {
    margin-bottom: 0px;
    padding: 30px 0px 30px 0px;
}

.footer .copyright-text {
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
}

.footer-socials {
    width: 250px;
    margin: -30px auto 0px auto;
}

.footer-socials a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    float: left;
}

.footer-socials a:hover {
    opacity: 0.5;
    transition: all 500ms ease;
}

.footer-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.footer-socials:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/*Footer Fixed Menu*/

.footer-clear {
    height: 60px;
}

.footer-fixed-light {
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(0, 0, 0, 0.03);
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.footer-fixed-dark {
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(255, 255, 255, 0.15);
}

.footer-fixed-light a {
    border-left: solid 1px rgba(0, 0, 0, 0.15);
}

.footer-fixed-light a em {
    color: #666666;
}

.footer-fixed-light a i {
    color: #1f1f1f;
}

.footer-fixed-dark a {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.footer-fixed-dark a em {
    color: #a8a8a8;
}

.footer-fixed-dark a i {
    color: #ffffff;
}

.footer-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 99999;
}

.footer-fixed a em {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.footer-fixed a i {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.footer-fixed a span {
    font-size: 12px;
    margin-top: -23px;
    display: block;
    text-align: center;
    font-style: normal;
}


/*Call To Action*/

.call-to-action {
    margin-top: -15px;
}

.call-to-action a {
    width: 33.3%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #1f1f1f;
    font-size: 14px;
}

.call-to-action i {
    margin-right: 10px;
    font-size: 14px;
}


/*Round Slider*/

.home-round-slider {
    padding-top: 10px;
    margin-top: -10px;
}

.home-round-slider img {
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
}

.home-img-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left: 50%;
    margin-left: -170px !important;
    opacity: 0.7;
}

.home-img-2 {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.home-img-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    right: 50%;
    margin-right: -170px !important;
    opacity: 0.7;
}

.home-round-slider h3 {
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
}

.home-round-slider em {
    font-weight: 300;
    display: block;
    font-style: normal;
    text-align: center;
}

.swiper-sample {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 300px !important;
    background-color: #ddd;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.img-text img {
    float: left;
}

.main-menu-icon td {
    border: 1px solid #eee;
    padding: 18px 0;
    cursor: pointer;
}
.main-menu-icon i {
    font-size: 48px;
    text-align: center;
    display: inline-block;
}

.main-menu-icon h5 {
    text-align: center;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

hr.colored {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 3px;

  background: -moz-linear-gradient(left, rgba(243,211,167,1) 0%, rgba(243,211,167,1) 12.5%, rgba(255,255,255,1) 12.5%,  rgba(255,255,255,1) 100%);  /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(243,211,167,1) 0%, rgba(243,211,167,1) 12.5%, rgba(255,255,255,1) 12.5%,  rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(243,211,167,1) 0%, rgba(243,211,167,1) 12.5%, rgba(255,255,255,1) 12.5%,  rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(243,211,167,1) 0%, rgba(243,211,167,1) 12.5%, rgba(255,255,255,1) 12.5%,  rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(243,211,167,1) 0%, rgba(243,211,167,1) 12.5%, rgba(255,255,255,1) 12.5%,  rgba(255,255,255,1) 100%);  W3C 
  /*background: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%);  W3C */
}

hr.colored-light {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 3px;
  margin-top: 10px;

  background: -moz-linear-gradient(left, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 12.5%, rgba(0,0,0,1) 12.5%,  rgba(0,0,0,1) 100%);  /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 12.5%, rgba(0,0,0,1) 12.5%,  rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 12.5%, rgba(0,0,0,1) 12.5%,  rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 12.5%, rgba(0,0,0,1) 12.5%,  rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 12.5%, rgba(0,0,0,1) 12.5%,  rgba(0,0,0,1) 100%);  W3C 
  /*background: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%);  W3C */
}

.main-board-list {
    padding-left: 0px;
}

.main-board-list li {
    height: 40px;
    vertical-align: middle;
    list-style: none;
    margin: 5px 0px !important;
    padding-top: 7px;
}
.bg-black-light .main-board-list li {
    border-bottom: 1px solid #666;    
}

.main-board-list li .items-black, 
.main-board-list li .items-white {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    list-style: none;
}

.main-board-list li .li_title {
    position: relative;
    display: table-cell;
    letter-spacing: -1px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.main-board-list .items-black,
.main-board-list .items-black .li-title {
    color: #fff;
}
.main-board-list .items-white,
.main-board-list .items-white .li-title {
    color: #000;
}

.main-board-list li .li_date {
    position: relative;
    display: table-cell;
    width: 80px;
    color: #9a9a9a;
    float: right;
    font-size: 0.9em;
}

.text-more-link {
    color: #f3d3a7;
    float:  right;
    position: absolute;
    display: inline-block;
    right: 25px;
    top: 45px;
}

.text-more-link-light {
    color: #e70010;
    float:  right;
    position: absolute;
    right: 25px;
    top: 5px;
}

.text-badge {
    font-size: 0.8rem;
    padding: 2px 3px;
    margin-right: 3px;
    border: 1px solid #e70010;
    border-radius: 3px;
    color: #e70010;
}

.page-title-strip {

    background-color:  #e9e9e9;
    color: #333;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    
}

.page-title-strip h3 {
    font-size: 24px;
    font-weight: 800;
}

.icon-ilkium-title {
    background-image: url(/assets/images/intro/icon-ilkium-title.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
}

.ilkium-intro h3 {
    font-weight: 800;
    margin-bottom: 20px;
}

.ilkium-intro p {
    font-weight: 600;
    line-height: 24px;
}
.branch-top-menu{
    width: 97%;
    display: table;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    margin: 15px 10px;
}
.branch-menu {
    width: 100%;
    display: table-row;
}

.branch-menu .menu-icon {
    width: 18%;
    display: table-cell;
    text-align: center;
    padding-right: 8px
}

.branch-p-text {
    font-size: 16px;
    color: #666;
    font-weight: 500;
    margin-bottom: 0px;
}

.slick-thumb {
    height: 100%;
    margin-bottom: 10px;
}

#flickr-widget img {
    height: 100px;
}

.phone_number {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.phone_desc {
    font-size: 12px;
    color: #2980b9;
}

.branch-intro img {
    width: 100%;
}

.branch-intro p {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.board_list {
    display: table;
    width: 100%;
}

.board-item {
    list-style: none;
    font-weight: 500;
    border-bottom: 1px solid #d1d1d1;
}

.board-item .item-title {
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}

.board-item .item-cate {
    font-size: 12px;
    color: #969696;
}

.board-item .item-sub, 
.board-sub {
    margin-top: 5px;
    color: #969696;
    font-size: 13px;
}

.board-content img {
    width: 100% !important;
    height: auto !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li.active>a {
    border: 1px solid #ef726b;
    color: #e50012;
    margin: 0 1px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    boarder-bottom-left-radius: 4px;
    boarder-top-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.text-center {
    text-align: center !important;
}

.board-title {
    background-color: #e9e9e9;
    padding: 15px;
}

.comment-block {
    border-top: 2px solid #666;
}

.commentlist li {
    list-style: none;
}

.commentlist .comment-author {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.commentlist .comment-author>span {
    font-size: 12px;
    color: #999;
    padding-left: 15px;
    font-weight: 400;
}

.commentlist p {
    color: #666;
    font-weight: 500;
}